.burger-menu {
    display: none;
    @media all and (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 50px;
        height: 18px;
        z-index: 30px;
        cursor: pointer;
    }

    @media all and (max-width: 768px) {
        width: 40px;
    }

    @media all and (max-width: 768px) {
        width: 30px;
    }

    &__line {
        width: 100%;
        height: 6px;
        background-color: $color-8;
    }
}
