.button {
    border-radius: 26px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 10px;

    &-pointer__icon {
        width: 100%;
        margin-left: 5px;
    }

    &-sky {
        background-color: $color-1;
    }

    &-red {
        background-color: $color-2;
    }

    &-orange {
        background-color: $color-4;
    }

    &-green {
        background-color: $color-5;
    }
}

.button2 {
    border-radius: 18px;
    border: 1px solid #c3c3c3;
    color: $color-8;
    opacity: 0.48;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
