.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &-img {
        width: 22px;
        height: 22px;
        margin-right: 18px;

        &_icon {
            width: 100%;
        }
    }

    &__number {
        color: $color-8;
        font-size: 0.8vw;
        font-weight: 700;
        line-height: 36px;
        text-transform: uppercase;

        @media all and (max-width: 1024px) {
            display: none;
        }
    }
}
