.country {
    display: flex;
    flex-direction: column;

    &-head {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    &-button {
        margin-bottom: 19px;
        margin-right: 21px;

        @media all and (max-width: 600px) {
            display: none;
        }
    }
}
