.country {
    display: flex;
    flex-direction: column;

    &-head {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
