.course {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;

    @media all and (max-width: 1024px) {
        display: none;
    }
    &__сurrency {
        display: flex;
        color: $color-9;
        font-size: 0.8vw;
    }

    &__rate {
        color: $color-8;
        font-weight: 700;
        margin-left: 10px;
    }

    &__line {
        width: 1px;
        height: 18px;
        background-color: $color-9;
    }
}
