.nav-bar {
    width: 21%;
    display: flex;
    justify-content: space-between;

    &__link {
        color: $color-8;
        font-family: "Open Sans";
        font-size: 0.75vw;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
    }
}
