.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 58px;

    &-prev {
        padding-left: 36px;
        padding-right: 43px;
    }

    &-nav {
        width: 213px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #161616;
        font-size: 16px;
        border-radius: 27px;
    }

    &-next {
        padding-left: 43px;
        padding-right: 36px;
    }
    &-list {
        width: 287px;
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0 18px;
        &__item {
            width: 50px;
            height: 50px;
            text-align: center;
            border-radius: 50%;
        }
    }
}
