.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &-nav {
        position: absolute;
        border: 1px solid #c3c3c3;
        background-color: #f3f3f3;
        opacity: 0.48;
        border-radius: 50%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
