.advantage {
    width: 100%;
    min-height: 668px;
    margin-top: 91px;
    background-image: url("../../assets/images/bg-our.png");
    background-size: contain;
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 127px;
    padding-bottom: 100px;

    @media all and (max-width: 1024px) {
        background-image: none;
    }
    @media all and (max-width: 768px) {
        margin-top: 50px;
    }
    @media all and (max-width: 425px) {
        padding: 10px 0;
        min-height: 200px;
    }

    &__title {
        text-align: center;
        color: $color-8;
        font-size: 2.5vw;
        font-weight: 800;
        text-transform: uppercase;

        @media all and (max-width: 1024px) {
            font-size: 36px;
        }

        @media all and (max-width: 425px) {
            display: none;
        }
    }

    &-map {
        width: 40%;

        @media all and (max-width: 1024px) {
            display: none;
        }
    }

    &-expirence {
        display: flex;
        justify-content: space-between;
        padding-right: 15%;
        padding-left: 5%;
        margin-top: 100px;

        @media all and (max-width: 1440px) {
            padding: 0 10%;
            flex-direction: column;
            align-items: center;
        }

        @media all and (max-width: 425px) {
            padding: 0;
            margin: 0;
        }
    }

    &__img {
        width: 100%;
    }

    &-wrapper {
        width: 45%;
        display: flex;
        justify-content: space-between;

        @media all and (max-width: 1440px) {
            width: 50%;
        }

        @media all and (max-width: 1024px) {
            width: 80%;
        }

        @media all and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;

        @media all and (max-width: 1440px) {
            width: 50%;
        }

        @media all and (max-width: 768px) {
            width: 100%;
        }
    }

    &-item {
        display: flex;
        justify-content: flex-end;
        margin-top: 87px;

        @media all and (max-width: 768px) {
            margin-top: 50px;
        }

        @media all and (max-width: 425px) {
            margin: 15px 0;
        }
    }

    &__number {
        color: $color-2;
        font-size: 2.5vw;
        font-weight: 800;
        text-transform: uppercase;
        margin-right: 34px;

        @media all and (max-width: 1440px) {
            font-size: 14px;
        }

        @media all and (max-width: 1024px) {
            font-size: 16px;
        }

        @media all and (max-width: 768px) {
            font-size: 24px;
        }

        @media all and (max-width: 425px) {
            font-size: 36px;
        }

        @media all and (max-width: 375px) {
            font-size: 26px;
        }
    }

    &__text {
        width: 50%;
        color: $color-8;
        font-size: 16px;
        font-weight: 800;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        @media all and (max-width: 1440px) {
            font-size: 14px;
        }

        @media all and (max-width: 1024px) {
            font-size: 16px;
        }

        @media all and (max-width: 768px) {
            width: 100%;
            font-size: 24px;
        }

        @media all and (max-width: 768px) {
            font-size: 13px;
        }
    }
}
