.advice {
    width: 100%;
    min-height: 505px;
    background-image: url("../../assets/images/bg-advice.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 4.75%;
    padding-top: 100px;

    &__title {
        color: $color-7;
        font-size: 60px;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
    }

    &-slider {
        margin-top: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__prev {
            border: 1px solid $color-7;
        }

        &__next {
            border: 1px solid $color-7;
        }
    }

    &__slide {
        display: flex;
        flex-direction: column;
    }

    &__img-container {
        width: 100%;
    }

    &__img {
        width: 100%;
    }

    &__text {
        margin-top: 5px;
        color: $color-7;
        font-size: 12px;
        font-weight: 800;
        text-transform: uppercase;
    }
}
