.header {
    width: 100%;
    height: 71px;
    top: 0;
    position: fixed;
    background-color: $color-7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5%;
    

    &__title {
        font-size: 1.5vw;
        font-weight: 700;
        line-height: 36px;
        margin-left: 3%;
    }

    &-info {
        width: 24.5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
