@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box; }

.nav-bar {
  width: 21%;
  display: flex;
  justify-content: space-between; }
  .nav-bar__link {
    color: #000000;
    font-size: 0.8vw;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none; }

.course {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center; }
  .course__сurrency {
    display: flex;
    color: #9c9c9c;
    font-size: 0.8vw; }
  .course__rate {
    color: #000000;
    font-weight: 700;
    margin-left: 10px; }
  .course__line {
    width: 1px;
    height: 18px;
    background-color: #9c9c9c; }

.contact {
  display: flex;
  justify-content: center;
  align-items: center; }
  .contact-img {
    width: 22px;
    height: 22px;
    margin-right: 18px; }
    .contact-img_icon {
      width: 100%; }
  .contact__number {
    color: #000000;
    font-size: 0.8vw;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase; }

.button {
  border-radius: 26px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  padding: 0 10px; }
  .button-pointer__icon {
    width: 100%;
    margin-left: 5px; }
  .button-sky {
    background-color: #2ec8d7; }
  .button-red {
    background-color: #ff2e33; }
  .button-orange {
    background-color: #ff9c00; }
  .button-green {
    background-color: #4b8b3f; }

.button2 {
  border-radius: 18px;
  border: 1px solid #c3c3c3;
  color: #000000;
  opacity: 0.48;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.swiper-container {
  width: 80%;
  height: auto;
  margin: 0 !important; }
  @media all and (max-width: 768px) {
    .swiper-container {
      margin: 0 auto !important; } }

.swiper-slide:last-child {
  margin-right: 0 !important; }

.slider-navigarion {
  position: relative; }

.slider-nav {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  outline: none;
  cursor: pointer; }

.country {
  display: flex;
  flex-direction: column; }
  .country-head {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; }
  .country-button {
    margin-bottom: 19px;
    margin-right: 21px; }
    @media all and (max-width: 600px) {
      .country-button {
        display: none; } }

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 58px; }
  @media all and (max-width: 768px) {
    .pagination {
      display: none; } }
  .pagination-prev {
    padding-left: 36px;
    padding-right: 43px; }
  .pagination-nav {
    width: 213px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #161616;
    font-size: 16px;
    border-radius: 27px; }
  .pagination-next {
    padding-left: 43px;
    padding-right: 36px; }
  .pagination-list {
    width: 287px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 18px; }
    .pagination-list__item {
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 50%; }

.head {
  display: flex;
  justify-content: center;
  align-items: center; }

.header {
  width: 100%;
  height: 71px;
  top: 0;
  position: fixed;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5%;
  z-index: 10; }
  .header__title {
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 36px;
    margin-left: 3%; }
  .header-info {
    width: 24.5%;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.welcome {
  width: 100%;
  height: 850px;
  margin-top: 71px;
  background-image: url("../../assets/images/welcome-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 205px; }
  @media all and (max-width: 1024px) {
    .welcome {
      padding: 100px 0; } }
  @media all and (max-width: 768px) {
    .welcome {
      height: auto;
      padding-top: 100px; } }
  @media all and (max-width: 425px) {
    .welcome {
      height: 438px;
      padding: 45px 0; } }
  .welcome-img {
    width: 62px;
    height: 51px; }
    @media all and (max-width: 425px) {
      .welcome-img {
        width: 44px; } }
    .welcome-img__icon {
      width: 100%; }
  .welcome__title {
    color: #ffffff;
    font-size: 72px;
    font-weight: 800;
    margin-top: 67px;
    text-transform: uppercase;
    text-align: center; }
    @media all and (max-width: 1440px) {
      .welcome__title {
        font-size: 64px; } }
    @media all and (max-width: 1024px) {
      .welcome__title {
        font-size: 54px; } }
    @media all and (max-width: 768px) {
      .welcome__title {
        font-size: 6vw; } }
    @media all and (max-width: 425px) {
      .welcome__title {
        width: 280px;
        font-size: 30px;
        margin-top: 0; } }
  .welcome__text {
    margin-top: 30px;
    width: 50%;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    line-height: 36px;
    text-align: center; }
    @media all and (max-width: 1440px) {
      .welcome__text {
        font-size: 16px; } }
    @media all and (max-width: 768px) {
      .welcome__text {
        width: 70%;
        font-size: 2.8vw; } }
    @media all and (max-width: 425px) {
      .welcome__text {
        font-size: 14px;
        line-height: 20px;
        margin-top: 20px; } }
  .welcome-button {
    width: 176px;
    height: 52px;
    background-color: #2ec8d7;
    color: #ffffff;
    margin-top: 71px;
    font-size: 16px;
    font-weight: 700; }
    @media all and (max-width: 425px) {
      .welcome-button {
        width: 176px;
        height: 50px;
        margin-top: 30px;
        font-size: 14px; } }
  .welcome-pointer {
    width: 24px;
    height: 24px; }

.popular {
  width: 100%;
  padding: 100px 4.75%; }
  @media all and (max-width: 768px) {
    .popular {
      padding: 40px 3.75%; } }
  @media all and (max-width: 425px) {
    .popular {
      padding: 40px 1.75%; } }
  @media all and (max-width: 425px) {
    .popular {
      padding: 40px 1.75%; } }
  @media all and (max-width: 768px) {
    .popular__head {
      display: flex;
      flex-direction: column; } }
  @media all and (max-width: 768px) {
    .popular__nav {
      width: 80%;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      align-items: center; } }
  .popular__title {
    color: #000000;
    font-size: 3vw;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 4%;
    text-align: center; }
    @media all and (max-width: 1024px) {
      .popular__title {
        font-size: 34px; } }
  .popular__btn-cities {
    width: 122px;
    height: 35px;
    font-size: 14px;
    margin-left: 10%; }
    @media all and (max-width: 768px) {
      .popular__btn-cities {
        margin: 0; } }
  .popular-slider {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media all and (max-width: 768px) {
      .popular-slider {
        margin-top: 50px; } }
    .popular-slider__prev {
      border: 1px solid #f3f3f3;
      background-color: #f3f3f3; }
      @media all and (max-width: 1920px) {
        .popular-slider__prev1 {
          display: none; } }
      @media all and (max-width: 768px) {
        .popular-slider__prev1 {
          display: block;
          display: flex;
          align-items: center;
          justify-content: center; } }
      @media all and (max-width: 425px) {
        .popular-slider__prev1 {
          width: 36px;
          height: 36px; } }
      @media all and (max-width: 768px) {
        .popular-slider__prev2 {
          display: none; } }
    .popular-slider__next {
      background-color: #f3f3f3;
      border: 1px solid #f3f3f3; }
      @media all and (max-width: 1920px) {
        .popular-slider__next1 {
          display: none; } }
      @media all and (max-width: 768px) {
        .popular-slider__next1 {
          display: block;
          display: flex;
          align-items: center;
          justify-content: center; } }
      @media all and (max-width: 425px) {
        .popular-slider__next1 {
          width: 36px;
          height: 36px; } }
      @media all and (max-width: 768px) {
        .popular-slider__next2 {
          display: none; } }
  .popular-country {
    width: 100%;
    height: 100%; }
    .popular-country__head {
      width: 100%;
      height: 225px;
      background-repeat: no-repeat;
      background-size: cover; }
    .popular-country__name {
      margin-top: 20px;
      color: #000000;
      font-size: 24px;
      font-weight: 700; }
  .popular-button {
    width: 150px;
    height: 41px;
    background: #2ec8d7;
    font-size: 14px;
    color: #ffffff; }
  .popular-pointer {
    width: 20px;
    height: 19px; }
  .popular_georgia {
    background-image: url("../../assets/images/country/country-georgia.png"); }
  .popular_maldiv {
    background-image: url("../../assets/images/country/maldiv.png"); }
  .popular_italia {
    background-image: url("../../assets/images/country/italia.png"); }
  .popular_french {
    background-image: url("../../assets/images/country/french.png"); }

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #282828;
  width: 100%;
  min-height: 222px;
  padding: 50px 10.35%; }
  @media all and (max-width: 768px) {
    .search {
      justify-content: center; } }
  .search__inputs {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center; }
  .search__title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2ec8d7; }
  .search-wrapper {
    width: 100%;
    position: relative;
    margin-top: 10px; }
  .search-block_big {
    width: 23%; }
    @media all and (max-width: 1024px) {
      .search-block_big {
        width: 25%; } }
    @media all and (max-width: 900px) {
      .search-block_big {
        width: 28%; } }
    @media all and (max-width: 768px) {
      .search-block_big {
        width: 47%; } }
    @media all and (max-width: 500px) {
      .search-block_big {
        width: 100%; } }
  .search-block_small {
    width: 12%; }
    @media all and (max-width: 1024px) {
      .search-block_small {
        width: 14%; } }
    @media all and (max-width: 900px) {
      .search-block_small {
        width: 17%; } }
  .search__input {
    width: 100%;
    height: 60px;
    border-radius: 4px;
    border: 1px solid rgba(195, 195, 195, 0.47);
    background-color: #282828;
    opacity: 0.46;
    padding-left: 30px;
    padding-right: 55px;
    color: #ffffff;
    font-size: 16px;
    z-index: -1; }
  .search__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 18px;
    top: 18px; }
  @media all and (max-width: 1024px) {
    .search__rate {
      display: none; } }
  @media all and (max-width: 900px) {
    .search__food {
      display: none; } }
  @media all and (max-width: 768px) {
    .search__categorie {
      display: none; } }
  @media all and (max-width: 768px) {
    .search__night {
      display: none; } }
  @media all and (max-width: 500px) {
    .search__to {
      display: none; } }
  .search__head {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    display: none; }
    @media all and (max-width: 768px) {
      .search__head {
        display: block; } }

.place {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10.47%; }
  @media all and (max-width: 600px) {
    .place {
      padding: 0 7%; } }
  .place-countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 43px; }
  .place-country {
    width: 32%;
    margin-top: 28px; }
    @media all and (max-width: 1260px) {
      .place-country {
        width: 45%; } }
    @media all and (max-width: 900px) {
      .place-country {
        width: 85%;
        margin: 30px auto; } }
    @media all and (max-width: 600px) {
      .place-country {
        display: none; } }
    @media all and (max-width: 600px) {
      .place-country__active {
        width: 100%;
        display: block; } }
    .place-country__head {
      width: 100%;
      height: 303px;
      justify-content: space-between;
      height: 303px;
      background-repeat: no-repeat;
      background-size: cover; }
    .place-country__name {
      margin-top: 20px;
      color: #000000;
      font-size: 24px;
      font-weight: 700; }
      @media all and (max-width: 600px) {
        .place-country__name {
          font-size: 18px; } }
    .place-country__date {
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      z-index: 2;
      margin-bottom: 33px;
      opacity: 0.7;
      margin-left: 27px; }
  .place-button {
    min-width: 180px;
    height: 41px;
    background: #2ec8d7;
    font-size: 14px;
    color: #ffffff; }
    .place-button__small {
      display: none; }
      @media all and (max-width: 600px) {
        .place-button__small {
          display: flex;
          width: 188px;
          height: 41px;
          margin-top: 10px; } }
    .place-button_more {
      width: 250px;
      height: 61px;
      border-radius: 30px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      margin-top: 105px; }
      @media all and (max-width: 600px) {
        .place-button_more {
          margin-top: 30px;
          border: 2px solid #ff9c00;
          background-color: #ffffff;
          color: #ff9c00; } }
  .place-pointer {
    width: 20px;
    height: 19px; }
  .place-rate {
    display: flex;
    margin-top: 10px; }
    .place-rate__name {
      color: #282828;
      font-size: 16px;
      font-weight: 300; }
      @media all and (max-width: 600px) {
        .place-rate__name {
          font-size: 14px; } }
    .place-rate__img-container {
      width: 71px;
      margin-left: 14px; }
    .place-rate__img {
      width: 100%; }
  .place_fontan {
    background-image: url("../../assets/images/egipet-fontan.png"); }
  .place_otel {
    background-image: url("../../assets/images/egipet-2.png"); }
  .place_cruise {
    background-image: url("../../assets/images/egipet-3.png"); }
  .place_park {
    background-image: url("../../assets/images/egipet-4.png"); }
  .place_relax {
    background-image: url("../../assets/images/egipet-5.png"); }
  .place_castle {
    background-image: url("../../assets/images/egipet-6.png"); }

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10.5%;
  margin-top: 82px; }
  @media all and (max-width: 1360px) {
    .card {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0; } }
  .card-wrapper {
    width: 66%;
    display: flex;
    flex-direction: column; }
    @media all and (max-width: 1360px) {
      .card-wrapper {
        width: 70%; } }
    @media all and (max-width: 425px) {
      .card-wrapper {
        width: 85%; } }
  .card-button {
    height: 47px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700; }
    @media all and (max-width: 1920px) {
      .card-button {
        min-width: 188px;
        height: 41px;
        font-size: 14px; } }
    @media all and (max-width: 1360px) {
      .card-button {
        min-width: 188px;
        height: 41px;
        font-size: 14px; } }
    .card-button__sea {
      width: 23%;
      margin-top: 38px; }
      @media all and (max-width: 425px) {
        .card-button__sea {
          width: 188px;
          height: 41px;
          font-size: 14px; } }
    .card-button__cruise {
      width: 50%;
      margin-top: 6%; }
      @media all and (max-width: 1360px) {
        .card-button__cruise {
          width: 188px;
          height: 41px;
          font-size: 14px; } }
    .card-button__excursion {
      min-width: 181px;
      height: 47px;
      margin-top: 36px; }
      @media all and (max-width: 1360px) {
        .card-button__excursion {
          width: 188px;
          height: 41px;
          font-size: 14px; } }
  .card-sea {
    width: 100%;
    height: 18vw;
    background-image: url("../../assets/images/fish.png");
    background-repeat: no-repeat;
    background-size: cover; }
    @media all and (max-width: 1360px) {
      .card-sea {
        height: 300px; } }
  .card__title {
    width: 333px;
    color: #ffffff;
    font-size: 2vw;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center; }
    @media all and (max-width: 1360px) {
      .card__title {
        font-size: 24px; } }
    @media all and (max-width: 425px) {
      .card__title {
        width: 80%; } }
    .card__title_cruise {
      margin-top: 30px;
      width: auto; }
  .card-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .card-couple {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px; }
    @media all and (max-width: 1360px) {
      .card-couple {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0; } }
  .card-small {
    width: 48.5%;
    height: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media all and (max-width: 1360px) {
      .card-small {
        width: 100%;
        height: 300px; } }
  .card-exotic {
    background-image: url("../../assets/images/exotic.png");
    background-size: cover;
    background-repeat: no-repeat; }
  .card-cruise {
    background-image: url("../../assets/images/cruise.png");
    background-size: cover;
    background-repeat: no-repeat; }
  .card-excursion {
    width: 32%;
    background-image: url("../../assets/images/cityes.png");
    background-size: cover;
    background-repeat: no-repeat; }
    @media all and (max-width: 1360px) {
      .card-excursion {
        width: 70%;
        height: 300px; } }
    @media all and (max-width: 425px) {
      .card-excursion {
        width: 85%; } }
  .card-img-wrapper {
    width: 55px;
    height: 55px; }
  .card__icon {
    width: 100%;
    height: 100%; }

.advantage {
  width: 100%;
  min-height: 668px;
  margin-top: 91px;
  background-image: url("../../assets/images/bg-our.png");
  background-size: contain;
  background-color: #f6f6f6;
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 127px;
  padding-bottom: 100px; }
  @media all and (max-width: 1024px) {
    .advantage {
      background-image: none; } }
  @media all and (max-width: 768px) {
    .advantage {
      margin-top: 50px; } }
  @media all and (max-width: 425px) {
    .advantage {
      padding: 10px 0;
      min-height: 200px; } }
  .advantage__title {
    text-align: center;
    color: #000000;
    font-size: 2.5vw;
    font-weight: 800;
    text-transform: uppercase; }
    @media all and (max-width: 1024px) {
      .advantage__title {
        font-size: 36px; } }
    @media all and (max-width: 425px) {
      .advantage__title {
        display: none; } }
  .advantage-map {
    width: 40%; }
    @media all and (max-width: 1024px) {
      .advantage-map {
        display: none; } }
  .advantage-expirence {
    display: flex;
    justify-content: space-between;
    padding-right: 15%;
    padding-left: 5%;
    margin-top: 100px; }
    @media all and (max-width: 1440px) {
      .advantage-expirence {
        padding: 0 10%;
        flex-direction: column;
        align-items: center; } }
    @media all and (max-width: 425px) {
      .advantage-expirence {
        padding: 0;
        margin: 0; } }
  .advantage__img {
    width: 100%; }
  .advantage-wrapper {
    width: 45%;
    display: flex;
    justify-content: space-between; }
    @media all and (max-width: 1440px) {
      .advantage-wrapper {
        width: 50%; } }
    @media all and (max-width: 1024px) {
      .advantage-wrapper {
        width: 80%; } }
    @media all and (max-width: 768px) {
      .advantage-wrapper {
        flex-direction: column;
        align-items: center; } }
  .advantage-list {
    display: flex;
    flex-direction: column; }
    @media all and (max-width: 1440px) {
      .advantage-list {
        width: 50%; } }
    @media all and (max-width: 768px) {
      .advantage-list {
        width: 100%; } }
  .advantage-item {
    display: flex;
    justify-content: flex-end;
    margin-top: 87px; }
    @media all and (max-width: 768px) {
      .advantage-item {
        margin-top: 50px; } }
    @media all and (max-width: 425px) {
      .advantage-item {
        margin: 15px 0; } }
  .advantage__number {
    color: #ff2e33;
    font-size: 2.5vw;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 34px; }
    @media all and (max-width: 1440px) {
      .advantage__number {
        font-size: 14px; } }
    @media all and (max-width: 1024px) {
      .advantage__number {
        font-size: 16px; } }
    @media all and (max-width: 768px) {
      .advantage__number {
        font-size: 24px; } }
    @media all and (max-width: 425px) {
      .advantage__number {
        font-size: 36px; } }
    @media all and (max-width: 375px) {
      .advantage__number {
        font-size: 26px; } }
  .advantage__text {
    width: 50%;
    color: #000000;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    align-items: center; }
    @media all and (max-width: 1440px) {
      .advantage__text {
        font-size: 14px; } }
    @media all and (max-width: 1024px) {
      .advantage__text {
        font-size: 16px; } }
    @media all and (max-width: 768px) {
      .advantage__text {
        width: 100%;
        font-size: 24px; } }
    @media all and (max-width: 768px) {
      .advantage__text {
        font-size: 13px; } }

.feedback {
  width: 100%;
  padding: 100px 4.75%; }
  .feedback__title {
    color: #000000;
    font-size: 3vw;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 12%; }
  .feedback__btn-add {
    width: 160px;
    height: 35px;
    margin-left: 2.15%;
    font-size: 14px;
    color: #000000;
    font-weight: 700; }
  .feedback-slider {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .feedback-slider__prev {
      border: 1px solid #f3f3f3;
      background-color: #f3f3f3; }
    .feedback-slider__next {
      background-color: #f3f3f3;
      border: 1px solid #f3f3f3; }
  .feedback-wrapper {
    display: flex;
    justify-content: space-between; }
  .feedback-people {
    width: 100%;
    min-height: 365px;
    border-radius: 2px;
    border: 1px solid #d8d8d8;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .feedback-people__text {
      width: 44%;
      font-size: 14px;
      font-weight: 400; }
    .feedback-people__info {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .feedback-people-img {
      width: 138px; }
    .feedback-people__img {
      width: 100%; }
    .feedback-people__name {
      margin-top: 37px;
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase; }

.advice {
  width: 100%;
  min-height: 505px;
  background-image: url("../../assets/images/bg-advice.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 4.75%; }
  .advice__title {
    color: #ffffff;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center; }
  .advice-slider {
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .advice-slider__prev {
      border: 1px solid #ffffff; }
    .advice-slider__next {
      border: 1px solid #ffffff; }
  .advice__slide {
    display: flex;
    flex-direction: column; }
  .advice__img-container {
    width: 100%; }
  .advice__img {
    width: 100%; }
  .advice__text {
    margin-top: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase; }

.team {
  width: 100%;
  padding: 130px 4.75%;
  background-image: url("../../assets/images/bg_team.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 110%;
  background-color: #f6f6f6; }
  .team__title {
    font-size: 3vw;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    margin-bottom: 58px; }
  .team__people {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto; }
  .team__item {
    margin-top: 31px;
    width: 31.8%;
    min-height: 323px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px; }
  .team__info {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .team__name {
    color: #000000;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase; }
  .team__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; }
  .team__img {
    width: 100%; }
  .team__profession {
    color: #2ec8d7;
    font-size: 13px;
    font-weight: 700;
    margin-top: 10px; }
  .team__text {
    margin-top: 30px;
    font-size: 14px; }

.footer {
  width: 100%;
  display: flex; }
  .footer__facebook {
    width: 36.6%;
    height: 278px;
    background-color: #ff9c00;
    padding-top: 95px;
    padding-left: 7.9%; }
  .footer__follow--facebook {
    color: #000000;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase; }
  .footer__trip--green {
    color: #4b8b3f; }
  .footer__img-container {
    width: 60%;
    margin-top: 35px; }
  .footer__img {
    width: 100%; }
  .footer__instagram {
    width: 63.4%;
    height: 278px;
    background-image: url("../../assets/images/bg-sky.png");
    display: flex;
    padding-top: 95px;
    padding-left: 3.7%; }
  .footer__photos {
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin-left: 61px; }
  .footer__photo--container {
    width: 109px; }
  .footer__photo {
    width: 100%; }
  .footer__follow--instagram {
    width: 110px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase; }
  .footer__trip--red {
    color: #ff2e33; }

/*# sourceMappingURL=main.css.map */
